<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="startWorkout.css">
      <link rel="stylesheet" href="Parts/Header/Header.css">
   </head>

   <body>
      <%- include('./Parts/Header/Header.ejs') %>

      <div id="This-Body">

         <div class="workouts-titles-con">
            <% if (workouts.length === 0) { %>
               <p>אין לך עדין אימון בשביל ליצור אחד כנס <a href="/CreateWorkout">לכאן</a> </p>
            <% } %>

            <% workouts.forEach(workout => { %>
               <div class="workoutTitle">

                  <a class="workoutTitletext" href="/workout/<%= workout._id %>"><h1><%= workout.title %></h1></a>

                  <div class="workoutOptionsBtns">
                     <a href="/editWorkout/<%= workout.id %>">Edit</a>
                     <a href="/delWorkout/<%= workout.id %>">Del</a>
                  </div>

               </div>
            <% }) %>

         </div>

      </div>
   </body>
</html>