<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Workout Page || <%= workout.title %></title>
      <link rel="stylesheet" href="/workoutPage.css">
      <link rel="stylesheet" href="/Parts/Header/Header.css">
   </head>

   <body>
      <%- include('./Parts/Header/Header.ejs') %>

      <div id="This-Body">

         <form class="workoutCon" id="workoutForm" action="/Save-Workout/<%= workout._id %>" method="post">

            <h1><%= workout.title %></h1>
            
            <% workout.exercises.forEach((exercise, exerciseIndex) => { %>

               <div class="exerciesCon" data-index="<%= exerciseIndex %>">

                  <h2><%= exercise.name %></h2>

                  <input type="hidden" name="exercises[<%= exerciseIndex %>][name]" value="<%= exercise.name %>">

                  <div class="sets">
                     <% exercise.sets.forEach((set, setIndex) => { %>

                        <div class="set-row">
                           <p>משקל:</p>
                           <input type="number" name="exercises[<%= exerciseIndex %>][weight][]" value="<%= set.weight %>" required>
                           <p>חזרות:</p>
                           <input type="number" name="exercises[<%= exerciseIndex %>][reps][]" value="<%= set.reps %>" required>
                           <button type="button" class="delete-btn">מחק</button>
                        </div>             
                        

                     <% }) %>
                  </div>

                  <input type="button" value="הוספת סט" class="addSetBtn">

               </div>

            <% }) %>

            <input type="hidden" id="endWorkoutFlag" name="endWorkout" value="false">
            <input class="saveWorkoutBtn" type="submit" onclick="setSaveMode()" value="שמור אימון">
         </form>

         <input class="endWorkoutBtn" type="button" onclick="endWorkout()" value="סיים אימון">

      </div>

      <script src="/Scripts/workoutPage.js"></script>
   </body>
</html>