<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Workout Page || <%= workout.title %></title>
      <link rel="stylesheet" href="/workoutPage.css">
      <link rel="stylesheet" href="/Parts/Header/Header.css">
   </head>

   <body>
      <%- include('./Parts/Header/Header.ejs') %>

      <div id="This-Body">
         <form action="/finish-workout/<%= workout._id %>" method="post">
            <h1><%= workout.title %></h1>
            
            <% workout.exercises.forEach((exercise, exerciseIndex) => { %>
               <div class="exerciesCon" data-index="<%= exerciseIndex %>">
                  <h2><%= exercise.name %></h2>
                  <% exercise.sets.forEach((set, setIndex) => { %>

                     <div class="sets">
                        <div class="set-row">
                           <input type="hidden" name="exercises[<%= exerciseIndex %>][name]" value="<%= exercise.name %>">
                           <input type="number" name="exercises[<%= exerciseIndex %>][weight][]" value="<%= set.weight %>" required>
                           <input type="number" name="exercises[<%= exerciseIndex %>][reps][]" value="<%= set.reps %>" required>
                        </div>             
                     </div>
                  <% }) %>
                  <input type="button" value="הוספת סט" class="addSetBtn">
               </div>
            <% }) %>

         <input type="submit" value="סיים אימון">
         </form>
      </div>

      <script src="/Scripts/workoutPage.js"></script>
   </body>
</html>